{% extends 'layout.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Identifiant</th>
                            <th>Service</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for departement in departements %}
                            <tr>
                            <td><a href="{{ path('departement_show', { 'id': departement.getId() }) }}">{{ departement.getId() }}</a></td>
                            <td>{{departement.getName}}</td>
                            <td><a href="{{ path('departement_editView', { 'id': departement.getId() }) }}">Modifier</a></td>
                            <td><a href="{{ path('departement_delete', { 'id': departement.getId() }) }}">Supprimer</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

