{% extends 'layout.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Identifiant</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Date de naissance</th>
                            <th>Date d'embauche</th>
                            <th>Salaire</th>
                            <th>Service</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for employee in employees %}
                            <tr>
                                <td><a href="/mvc-employees/employee/show/{{ employee.getId() }}">{{ employee.getId() }}</a></td>
                                <td>{{ employee.getLastName() }}</td>
                                <td>{{ employee.getFirstName() }}</td>
                                <td>{{ employee.getBirthDate()|date('d-m-Y') }}</td>
                                <td>{{ employee.getHireDate()|date('d-m-Y') }}</td>
                                <td>{{ employee.getSalary() }}</td>
                                <td>{{ employee.getDepartement() }}</td>
                                <td><a href="/mvc-employees/employee/editView/{{ employee.getId() }}">Modifier</a></td>
                                <td><a href="/mvc-employees/employee/delete/{{ employee.getId() }}">Supprimer</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <nav>
                    <ul class="pagination">
                        <li class="page-item {{ currentPage == 1 ? 'disabled' : '' }}">
                            <a href="/mvc-employees/employee/index/{{ currentPage - 1 }}" class="page-link">Précédente</a>
                        </li>

                        {% for page in 1..pages %}
                            <li class="page-item {{ currentPage == page ? 'active' : '' }}">
                                <a href="/mvc-employees/employee/index/{{ page }}" class="page-link">{{ page }}</a>
                            </li>
                        {% endfor %}

                        <li class="page-item {{ currentPage == pages ? 'disabled' : '' }}">
                            <a href="/mvc-employees/employee/index/{{ currentPage + 1 }}" class="page-link">Suivante</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

